{% extends ('layout.html') %}
{% block title %} Tasks {% endblock %}

{% block main %}

<div class="task-list">
  <h2> Task list</h2>
  <br>
    <form action="tasks" method="post"> 
        <ul>
          {% for task in tasks %} 
          <li><b><a href="/archive_task/{{task.id}}">√ </b></a>{{ task.content }}</li> 
          {% endfor %}
        </ul>
    </form>
</div>
<br>
<p class="small text-muted pt-2" >√ to mark as completed</p>
<a class="btn btn-outline-info" role="button" href="{{ url_for('create_tasks') }}">Create another task</a>

{% endblock %}